body{
  margin: 0;
}
header{
  background-image:url(../img/photo_2021-01-04_10-49-24.jpg);
  background-size:cover;
  padding-left: 40px;
}
.name{
  font-family:cursive;
  font-size: 30px;
  display: inline-block;
  margin:30px 0 0 0 ;
}
.pink{
  color:darksalmon;
}
.black{
  color: black;
  margin-right: 10px;
}
h1{
  font-size: 50px;
  color: darkslategray;
  margin-top: 100px;
}
#bio{
  color: darkslategray;
  font-size:20px;
}
button{
  padding:10px 40px 10px 40px;
  background-color: coral;
  color: aliceblue;
  border: 0;
  margin-top:30px;
  font-size: 15px;
}
.icons{
  margin-top:200px;
  font-size: 30px;
}
.icon{
  color: darkslategray;
  margin-left: 15px;
}
.face{
  color: darksalmon;
}
.section1{
  margin-top: 50px; 
}
.about1{
text-align: center;
}
.about{
  display: inline-block;
  font-size: 20px;
  font-family:sans-serif;
}
.self-class{
  text-align: center;
}
.self{
  display: inline-block;
  border:1px #555 solid;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  color: #555;
}
#this{
  color: darksalmon;
}
.text{
  text-align: center;
  margi:0 33% 10px 33%;
  color: #888888;
}
.inline{
  display: inline-block;
  border: 1px dimgrey solid;
  margin: 0 20% 0 20%;
  padding-right: 50px;
  padding-left: 50px;
}
.form{
  text-align: center;
}
.input{
  text-align: center;
  margin: 20px 33% 20px 45%;
}
.input1{
  display:block;
  margin-top: 10px;
}
#area{
  padding:0 0 50px 0;
}
.foot-name{
  text-align: center;
}

.foot-text{
text-align: center;
  
}
.social{
  font-size: 30px;
  display: inline-block;
  margin-left: 80%;
}